.navbar-brand{
        padding-top: 5px;
}

.navbar-inverse {
background-color: $navbar-inverse-bg;
border-color: $navbar-inverse-border;
height: 110px;
font-size: 18px;
}

body {
  margin: 0; 
  padding-top: 70px;
}
